version: 1.8.0.{build}
configuration: Release
skip_tags: true
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'
install:
- ps: nuget restore
before_build:
- ps: .\set-version.ps1
build:
  publish_nuget: true
  verbosity: minimal
deploy:
- provider: NuGet
  api_key:
    secure: dtP6YFOY3quvyRlH0DYG/i4AbOegM/5oT8Q+IcpKMqKZgBiAmm+XRs2TN9+ju9oe
  on:
    appveyor_repo_tag: false
    branch: /(master|release-v.+)/
- release: saule-v$(appveyor_build_version)
  description: ''
  provider: GitHub
  auth_token:
    secure: 00qfkOL3Upz61CDrcEkLV+Vnn2gY4zypijGU3oUXeyxI8pNYElkLMJGzgSOEcVnH
  artifact: /.*\.nupkg/
  draft: true
  prerelease: false
  on:
    appveyor_repo_tag: false
    branch: /release-v.+/
