$light-color: #fefeff;
$dark-color: #225;
$border-color: #bbb;
$standout-color: #fff;

body {
  background-color: $light-color;
  color: $dark-color;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;

  font-size: 110%;
}

.site-title .titles {
  height: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: $dark-color;
  color: $light-color;

  h1, h2 {
    margin: 0;
    padding: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .title {
    margin-bottom: 12px;
  }
}

.site-title .github {
  position: absolute;
  right: 20px;
  top: 20px;
  margin: 0;
  padding: 0;

  a:link {
    color: $light-color;
    font-size: 80%;
  }
}

a {
  text-decoration: none;
  font-weight: bold;

  &:link {
    color: lighten($dark-color, 30%);
  }
  &:hover {
    border-bottom: 1px dashed;
  }
  &:active {
    border-bottom: 1px solid;
  }
  &:visited {
    color: lighten($dark-color, 50%);
  }
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 100%;
}

.main-navigation {
  width: 100%;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    list-style: none;
    background-color: $dark-color;

    background: linear-gradient(to bottom right, $dark-color, lighten($dark-color, 10%));
    
    color: $light-color;
    height: 100%
  }

  li {
    flex: 1;
    margin: 3px;
    border: 1px solid $light-color;
    text-align: center;
  }
  
  a {
    box-sizing: border-box;
    padding: 9px 20px;
    height: 100%;
    display: block;
    color: inherit;
    text-decoration: none;

    &:hover, &.active {
      color: $dark-color;
      background: $light-color;
      border: none;
    }
  }
}

.main-content {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 960px;
  padding: 20px 40px;

  h1, h2, h3 {
    margin-top: 30px;
  }
}

pre.highlight {
  background-color: $standout-color;
  padding: 20px;
  border: 1px solid $border-color;
  overflow-y: auto;
}

blockquote {
  margin-left: 12px;
  border-left: 5px solid $dark-color;
  padding: 3px 20px;
}

.page-title {
  font-size: 200%;
  text-align: left;
}

hr {
  border-style: solid none;
  border-width: 1px;
  border-color: $standout-color $standout-color lighten($border-color, 20%) $standout-color;
}

table {
  display: block;
  max-width: 100%;
  overflow-y: auto;

  border: 1px solid $border-color;
  background: $standout-color;

  tbody tr {
    background-color: darken($light-color, 3%);

    &:nth-child(2n) {
      background-color: $standout-color;
    }
  }

  td {
    padding: 6px 12px;
  }
  th {
    padding: 12px;
  }
}

@media (min-width: 1200px) {
  .container {
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
  }

  .main-navigation {
    width: 400px;

    ul {
      flex-direction: column;
      justify-content: flex-start;
      padding: 0 30px;
    }
    li {
      flex: 0;
    }
  }
}